# This file contains the data converter's screen values from the last session.
/home/walter/GitHub/PyQt-coordinate-transformation-GUI-example/data
balloon_launch.lle
False
False
True
False
-1
35.699391
-117.626030
628.827
True
False
False
False
False
False
0.2
1
34.583672
-115.875719
233.000
# End of file.